<!-- activate.html (ch10www project) -->
{% extends "base.html" %}
{% block title %}分享日記{% endblock %}
{% block content %}
<div class='container'>
{% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
{% endfor %}
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
                <h3>啟用失敗，請檢查您的啟用連結，謝謝。</h3>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
