<!-- index.html (dj4ch09 project) -->
{% extends "base.html" %}
{% block title %}分享日記{% endblock %}
{% block content %}
<div class='container'>
{% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
{% endfor %}
    <div class='row'>
        <div class='col-md-12'>
                    <h3 class="alert alert-primary">{{ username | default:"我"}}的私人日記</h3>
            </div>
        </div>
        {% for diary in diaries %}
        {% cycle "<div class='row'>" "" "" %}
            <div class='col-md-4'>
                <div class='card'>
                    <div class='card-header' align=center>
                        {{ diary.ddate }}
                    </div>
                    <div class='card-body'>
                        {{ diary.note | linebreaks }}
                    </div>
                    <div class='card-footer'>
                        今日花費：{{ diary.budget }}元，體重：{{ diary.weight }}公斤
                    </div>
                </div>
            </div>    
        {% cycle "" "" "</div>" %}
        {% empty %}
            <h3><em>目前沒有日記內容可供顯示，請登入網站或輸入日記內容</em></h3>
        {% endfor %}
    </div>
</div>
{% endblock %}
