<!-- header.html (dj4ch07 project) -->
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">不吐不快</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/list/">瀏覽訊息</a>
                  <a class="nav-link" href="/post2db/">張貼訊息（僅表單）</a>
                  <a class="nav-link" href="/post/">張貼訊息</a>
                  <a class="nav-link" href="/bmi/">BMI列表</a>
                  <a class="nav-link" href="/contact/">連絡管理員</a>
                  <a class="nav-link" href="/admin">後台管理</a>
                </div>
              </div>
            </div>
          </nav>
    </div>
</nav>
