<!-- index.html (dj4ch06 project) -->
{% extends 'base.html' %}
{% block title %}電視新聞直播{% endblock %}
{% block tvname %} 現正播出{{tv.name}} {% endblock %}
{% block menu %}
	<ul class='nav navbar-nav'>
		<li class='active'><a href='/'>Home</a></li>
	    {% for tv in tv_list %}
	        <li><a href='/{{ forloop.counter0 }}/'>{{tv.name}}</a></li>
	    {% endfor %}
	</ul>
{% endblock %}
{% block content %}

	<div class='conatiner'>
		<div id='tvcode' align='center'>
			{% if hour > 18 %} 
				晚安 
			{% elif hour < 10 %}
			    早安
			{% endif %}
			<br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{tv.tvcode}}?autoplay=1" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
{% endblock %}
