<!-- index.html -->
{% extends 'base.html' %}
{% block title %} 歡迎光臨我的部落格 {% endblock %}
{% block headmessage %} 
    <h3 style='font-family:標楷體;'>本站文章列表</a>
{% endblock %}
{% block content %} 
    {% for post in posts %}
    <div class='card'>
        <div class='card-header'>
            <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
                <a href='/post/{{post.slug}}'>{{ post.title }}</a>
            </p>
        </div>
        <div class='card-body' style='background-color:#ffffdd'>
            <p>
               {{ post.body | truncatechars:40 }}
            </p>
        </div>
        <div class='card-footer'  style='background-color:#efefef'>
            <p>
                發佈時間：{{ post.pub_date | date:"Y M d, h:m:s"}}
            </p>
        </div>
    </div>
    <br>
    {% endfor %}
{% endblock %}
