<!-- product.html (mshop project) -->

{% extends "base.html" %}
{% block title %}檢視產品細節{% endblock %}
{% block content %}
<div class='container'>
{% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
{% endfor %}
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
                <h3>{{ product.name | default:"產品編號錯誤" }}</h3>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-sm-offset-1 col-sm-6'>
        <img src='{{product.image.url}}' width='100%'>
    </div>
    <div class='col-sm-4'>
        <h2>{{product.name}}</h2>
        <h3>售價：{{product.price}}元<br/>
            庫存：{{product.stock}}</h3>
        <p>{{product.description | linebreaks }}</p>
    </div>
</div>
</div>
{% endblock %}
